@import url('estilosFuentes.css');

body{
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-image: url("../img/banner.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
/* agrego una sombre a la descripcion de la pag */
.textSombra {
    text-shadow: 1px 1px 2px #000;
}
/* agrego un degradado al menu principal */
.degradado {
    background: -webkit-linear-gradient(black, transparent); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(black, transparent); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(black, transparent); /* For Firefox 3.6 to 15 */
    background: linear-gradient(black, transparent); /* Standard syntax */
}
/* agrego un border-bottom a los enlaces del menu principal*/
.bodreButton {
    border-bottom: 3px solid #26AE60;
}
/* estilo de los formularios principales */
.FormIndex {
    padding: 10px;
    border-radius: 12px;
    background-color: rgb(0, 0, 0, 0.5);
}

/* pie de pag */
.bottom {
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 0px;
    width: 100%;
}

@media screen and (max-width: 767px) {

    .bottom {
        position: relative;
        margin-top: -50px;
        margin-bottom: 0;
    }
}
